@using Wings.Shared.Dto;

@inherits TreeViewBase<TModel>
@typeparam TModel



<DataSourceManager TModel="TModel" @ref="DataSource"></DataSourceManager>
<Row Gutter="16">
    <Col Span="12">
    <Tree @ref="tree" BlockNode ShowLine ShowExpand TItem="TModel" DataSource="DataListTItem"
        TitleExpression="@(x => x.DataItem.GetType().GetProperty("Title").GetValue(x.DataItem).ToString())"
        ChildrenExpression="@(x => GetChildren(x.DataItem))" @bind-SelectedData="@selectedData">

    </Tree>

    </Col>
    <Col Span="12">
    @if (selectedData != null)
        {
        <div>
            <Button Type="primary" OnClick="OpenAddMenuForm">添加同级</Button>
            <Button Type="primary" OnClick="OpenSubMenuForm">添加下级</Button>
            <Button Type="primary" OnClick="OpenEditMenuForm">编辑</Button>
            <Button Type="danger" OnClick="OpenDeleteConfirmModal">删除</Button>

        </div>
        <DetailView TModel="TModel" Value="selectedData"></DetailView>
            @if (EditValue != null)
            {
                @dynamicEditComponent
            }


        }
    </Col>
</Row>
