Wings.Shared/bin
Wings.Shared/obj
Wings.Admin/bin
Wings.Admin/obj
Wings.Api/bin
Wings.Api/obj
Wings.Framework.Ui.Ant/obj
Wings.Framework.Ui.Ant/bin
Wings.Framework.Shared/bin
Wings.Framework.Shared/obj
Wings.Framework.Ui.Bootstrap/bin
Wings.Framework.Ui.Bootstrap/obj
Wings.Framework.Ui.Core/bin
Wings.Framework.Ui.Core/obj
Wings.Framework.Shared/bin
Wings.Framework.Shared/obj