@inherits DetailViewBase<TModel>
@typeparam TModel

<style>
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .data-table {
        border: 1px solid #e2e2e2;

    }
</style>

<table style="width: 100%; margin-top: 15px;">
    <div class="data-table">
        <div class="grid ">
            @foreach (var item in PropertyList)
            {

                <DetailProp TModel="TModel" Value="Value" Property="item"></DetailProp>
            }
        </div>

    </div>
</table>