@inherits DetailViewBase<TModel>
@typeparam TModel


<table>
    <tbody>
        @foreach (var item in PropertyList)
        {
            <DetailProp TModel="TModel" Value="Value" Property="item"></DetailProp>
        }

    </tbody>
</table>