@namespace Wings.Framework.Ui.Ant.Components
@typeparam TModel
@inherits AntTableViewBase<TModel>

@dynamicSearchBarComponent

<Button OnClick="()=> OpenAddFormModal()" Type="primary">新增</Button>

<DataSourceManager TModel="TModel" @ref="DataSource"></DataSourceManager>

<Table @ref="table" TItem="TModel" DataSource="@Data" Total="Total" @bind-PageIndex="PageIndex"
    @bind-PageSize="PageSize">
    <Selection Key="@(typeof(TModel).GetProperty("Id").GetValue(context).ToString())" />
    @foreach (var item in PropList)
    {
        <Column Title="@GetPropertyTitle(item)" TData="object">
            <AntDynamicProp TModel="TModel" Value="context" Property="item"></AntDynamicProp>
        </Column>
    }
    <ActionColumn>
        <Space>
            <SpaceItem><Button Danger OnClick="()=>OpenDeleteConfirmModal(context)">删除</Button></SpaceItem>
        </Space>
    </ActionColumn>
</Table>
@if (render)
{
    @if (editType == EditType.Insert)
    {
        @dynamicEditComponent
    }
}