@namespace Wings.Framework.Ui.Ant.Components
@attribute [ComponentDataType("System.String")]
@inherits AntPropStringBase<TModel>
@typeparam TModel
@if (Value != null)
{
    <span style="color:red"> @Property.GetValue(Value)</span>
}