@inherits NavMenuItemBase

@if (GetMenuChildren().Count > 0)
{
    <SubMenu >
        <TitleTemplate>
            <Icon Type="pie-chart" Theme="outline" />
            <span> @menuData.Label</span>
        </TitleTemplate>
        <ChildContent>
            @foreach (var child in GetMenuChildren())
            {
                <NavMenuItem menuData="child" MenuDataList="MenuDataList"></NavMenuItem>

            }
        </ChildContent>
    </SubMenu>
}
else
{
<MenuItem Key="@menuData.Link" RouterLink="@menuData.Link">
    <Icon Type="pie-chart" Theme="outline" />
    <span> @menuData.Label</span>
</MenuItem>
}
